<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="index.css")
    title Typewriter Animation Item Hover Effects | CSS
  body
    .container
      ul.nav-list
        each val in ['home', 'about', 'service', 'contact']
          li.nav-item
            span &times;
            a.nav-link(href="#", data-text=val)= val